<div class="background-blue">
    <div class="game-container">
        <h2>Taboo</h2>
        <p>The aim of the game is to explain the main word in the card to the other players. If they guess the word correctly, you get a point and the player who 
            guessed correctly gets a point.
        </p>
        <p>3+ players</p>
        <button class="play-button" type="button" (click)="playAgreeDisagreeGame()">PLAY</button>
    </div>
</div>

<div class="background-red">
    <div class="game-container">
        <h2>Guess The Word</h2>
        <p>Try and narrow down the target word before your opponents.
        </p>
        <p>2+ players</p>
        <button class="play-button" type="button" (click)="playGuessTheWord()">PLAY</button>
    </div>
</div>