@use '../../../styles.scss' as styles;

:host {
    @apply w-full flex-1 justify-between flex-wrap text-2xl;

    button {
        @apply mt-2 bg-green-500 p-1;

        &:hover {
            @apply bg-green-600;
        }
    }
}

div {
    &#enter-name-container {
        min-height: fit-content;
        background-color: styles.$enter-name-background-color;
    }

    #left-panel {
        @apply justify-center mt-0 sm:mt-0 md:-mt-5p xl:-mt-10p;

        label {
            background-color: styles.$enter-name-background-color;
        }
    } 
    
    #right-panel {
        @apply justify-center mt-0 sm:mt-0 md:-mt-5p xl:-mt-10p;
        text-align: center;

        &.enter-name-taboo {
            color: white;
            background-color: styles.$taboo-background-color;
        }
        &.enter-name-switch {
            color: #0c2231;
            background-color: styles.$switch-background-color;
        }
        
        #game-name {
            @apply text-4xl;
            text-transform: capitalize;
        }
    }
    
}

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-4 z-0 ml-1 px-1 py-0;
}

input:focus-within ~ label {
    @apply text-blue-500;
}